<h1>Exemplo 1:</h1>
<label>
    Name:
    <input type="text" [formControl]="name2">
  </label>
  <p>
    <button (click)="updateName()">Update Name</button>
  </p>
  <p>{{name2.value}}</p>

  <h1>Exemplo 2</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<br>
<h1>Exemplo 3</h1>
<form [formGroup]="profileForm2" (ngSubmit)="onSubmit2()">
  
    <label>
      First Name:
      <input type="text" formControlName="firstName2" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName2">
    </label>
    
    <div formGroupName="address">
        <h3>Address:</h3>
      
        <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
        
        <label>
          State:
          <input type="text" formControlName="state">
        </label>
      
        <label>
          Zip Code:
          <input type="text" formControlName="zip">
        </label>
      </div>
    <button type="submit" [disabled]="!profileForm2.valid">Submit</button>
</form>

<h1>Exemplo Proprio</h1>
<form [formGroup]="formHero" (ngSubmit)="addHero()">
    <label>
        Id Hero:
        <input type="text" formControlName="id" disabled="disabled">
      </label>

    <label>
        Name Hero:
        <input type="text" formControlName="name">
      </label>
      <button type="submit" [disabled]="!formHero.valid">Submit</button>
</form>
<ul>
    <li *ngFor='let hero of heroList' [value]="hero">
        {{hero.id + '-' + hero.name}}
        <button mat-button color="primary" (click)='editHero(hero)'>Editar</button>
    </li>
</ul>