<form>
    <mat-form-fild>
        <label>Heroi:</label>
        <input #searchBox id="search-box" matImput [matAutocomplete]="auto" [formControl]="myControl"(input)="search(searchBox.value)"/>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let hero of heroes$ | async" [value]="hero.name"   >
                {{hero.name}}
            </mat-option> 
        </mat-autocomplete>
        <br>
        <p>O Heroi selecionado é: {{searchBox.value}}</p>
    </mat-form-fild>
</form>